.container {
  padding: 10px;
  margin-top: 10px;
  background-color: var(--background-light);
  border-radius: 10px;
}

.details {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--border);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 15px;
}

.item {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .container {
    padding: 20px;
    margin-top: 20px;
  }

  .details {
    margin-top: 40px;
    padding-bottom: 20px;
  }

  .list {
    padding-top: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 44px 52px;
    margin-top: 44px;
    flex: 1;
  }

  .details {
    margin-top: 100px;
    padding-bottom: 24px;
  }

  .list {
    padding-top: 24px;
  }
}
