.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 100%;
}

@media (min-width: 1024px) {
  .list {
    max-width: 700px;
  }
}
