.wrapper {
  position: relative;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.homeMain {
  padding: 0;
  max-width: none;
}

@media (max-width: 1300px) {
  .main {
    padding: 0 32px;
  }
}