.container {
  margin: 10px 10px 0 10px;
  padding-bottom: 10px;
}

@media (min-width: 1300px) {
  .container {
    margin: 48px auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}
