.container {
  padding: 17px 10px;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.inputCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 24px;
  position: relative;
}

.title {
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.p {
  padding-bottom: 24px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: 1024px) {
  .container {
    flex: 1;
    margin-top: 44px;
    padding: 44px 57px 44px 57px;
  }
}
