.transactionHistory {
  margin: 20px auto;
  width: 600px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-collapse: collapse;
}

.transactionHistory thead {
  background-color: #00bcd4;
  color: white;
  text-transform: uppercase;
}

.transactionHistory th {
  padding: 12px 15px;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.transactionHistory tbody tr {
  border-bottom: 1px solid #ecf1f4;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #ecf1f4;
}

.transactionHistory td {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
  color: #5c6169;
}

.transactionHistory td:first-child {
  text-transform: capitalize;
} 