.App {
  text-align: center;
}

.App-header {
  padding: 2rem;
}

.App-header h1 {
  margin: 0 0 1rem 0;
  font-size: 3.2em;
  line-height: 1.1;
  color: #646cff;
}

.App-header p {
  margin: 0;
  font-size: 1.2em;
  color: #666;
}
